header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #88d4ff;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    border-radius: 10px;
    z-index: 1000;
    width: 100%;
}

body{
    margin:auto;
}

header div h1{
    text-align: center;
    font-size: 55px;
    margin-bottom: auto;
    margin-top: 5px;
    margin-left: -20px;
    font-family:Arial, Helvetica, sans-serif;
}

header div nav ul {
    list-style-type: none; /* Remove bullets */
    overflow: hidden; /* Clear floats */
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0%;
    margin-right: 235px;
}

nav ul li{
    float: left;
    width: 7rem;
}

nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 2px 0px; /* Padding for each menu item */
    margin: auto 5px;
    text-decoration: none;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    background-color: lightgray;
    border: 3px solid black;
    border-radius: 1rem;

}
ul li a:hover {
    background-color: darkgray;
}

.logo{
    margin-left: 50%;
    margin-top: 2px;
    max-width: 125px;
    max-height: 120px;
}

.search-icon{
    max-width: 60px;
    margin-bottom: 5px;
}

header div img{
    font-size: 70px; /* Increase icon size */
    margin: 0 10px; /* Add margin between icons */
    text-decoration: none;
    display: inline-flex; 
    max-width: 75px;
    margin-right: 15px;
}

header div img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.badge {
    position: absolute; /* Change this line */
    top: 20px; /* Adjust these values as needed */
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: yellow;
    color: #333;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    z-index: 1000;
    animation: bounce 0.5s; /* Apply the bounce animation */
}
@keyframes bounce {
    0%, 66.66%, 100% {
      transform: translateY(0);
    }
    33.33% {
      transform: translateY(-20px);
    }
    16.66%,50%,83.33% {
      transform: translateY(-10px);
    }
}
  
.product-box {
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    display: flex;
    padding: 1%;
}

.curved-box {
    width: 70%; /* Adjust the width as needed */
    max-width: 70%;
    border: 2px solid #d3d3d3; /* Set your desired outline color */
    border-radius: 20px; /* Adjust the border radius as needed */
    margin-right: 5px;
}

.curved-box h1{
    color: #2cb2ff; /* Adjust the text color */
    text-align: left;
    padding: 20px;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 20px;
    padding-left: 30px;
    font-family: sans-serif;
    font-size: x-large;
}

.curved-box p{
    color: #000000; /* Adjust the text color */
    text-align:justify;
    margin-right: 2.5%;
    margin-bottom: 0px;
    margin-top: 2px;
    padding-left: 30px;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
}

.curved-box h2{
    text-align: left;
    padding: 20px;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 30px;
    font-family: sans-serif;
    font-size: x-large;
}

.curved-box ul{
    font-size: large;
    margin-left: 30px;
    font-family: sans-serif;
    padding-top: 10px;
}

.curved-box ul li{
    padding-bottom: 3px;
}

.curved-box-image {
    width: 25%;
    max-width: 25%;
    max-height: 80%;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid #d3d3d3; /* Set your desired outline color */
    border-radius: 20px; /* Adjust the border radius as needed */
}

.box-image{
    width: 100%; /* Make the image fill the width of the box */
    height: 100%; /* Make the image fill the height of the box */
    object-fit: fill; /* Maintain aspect ratio and cover the entire box */
    border-radius: 20px; /* Adjust the border radius to match the box */
    overflow: hidden; /* Ensure the content is clipped to the box boundaries */
}

.price-cart-box{
    display: flex;
}

.add-to-cart{
    width: 175px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: #fed602;
    color: black;
    border: 3px solid black;
    border-radius: 50px;
    margin-left: 34%;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    line-height:15px;
    font-family: sans-serif;
}

.add-to-cart:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: burlywood;
}

.price{
    width: 125px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: #fed602;
    color: black;
    border: 3px solid black;
    border-radius: 50px;
    margin-left: auto;
    margin-right: 7.5%;
    margin-top: -5px;
}

.price p{
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
    text-align: center;
    line-height: 2px;
}


footer {
    background-color: #88d4ff;
    text-align: center;
    padding: auto;
    /*border-radius: 10px;*/
    z-index: 1000;
    margin-top: 60px;
}

footer div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    vertical-align: top;
    width: auto; /* Adjust the width as needed */
    margin: auto;
    text-align: center;
    max-width: max-content;
}

footer div div{
    flex: 1;
    margin-right: 20px;
}
.footer_head{
    font-weight: bold;
}

footer div div ul li {
    list-style-type: none; /* Remove bullets */
    overflow: visible; /* Clear floats */
    text-align: left;
    justify-content: center;
    margin: 0;
}

footer div div ul li a{
    color: black;
    text-decoration: none;
}

footer div div ul li a:hover{
    color: grey;
    background-color: #88d4ff;
}