section{
    padding: 1%;
    display: flex;
}

.contentcontainer{
    width: 60%; /* Adjust the width as needed */
    max-width: 60%;
    border: 2px solid #d3d3d3; /* Set your desired outline color */
    border-radius: 20px; /* Adjust the border radius as needed */
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.product {
    width: 80%;
    height: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
    border-bottom: 3px solid black;
}

.product img {
    margin-left: auto;
    height: 150px;
    width: 150px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 15px;
}

.product div {
    flex: 1;
    margin-left: 2%;
}

.product h3 {
    margin-top: 0;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product p {
    margin: 1% 0;
}

.product p:last-child {
    font-weight: bold;
}
.qty-and-price {
    display: flex;
    justify-content: space-between;
}

.product .qty {
    height: 28px;
    width: 75px;
    border-radius: 30px;
    background-color: #d9d9d9;
    padding: 7px;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product .stock {
    color: #3ba608;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product .delivery {
    color: #c4c4c4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product .price {
    font-size: x-large;
    font-weight: bold;
    color: #0399cd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.order-section {
    max-width: 40%;
    margin: 35px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.order-section h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    border-radius: 5px 0px 0px 5px;
    border: 5px solid #eaeaea;
    border-radius: 40px 40px 0px 0px;
    padding: 10px 20px;
    max-width: 70%;
    margin: 0 auto;
    border-bottom: 0px;
}

.order-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-color: #dddada;
    border-radius: 30px;
    border: 3px solid #dddada;
    margin: -3px;
}

.order-count, .shipping-count, .pcost-count, .promo-count, .total-count{
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
    height: 50px;
    padding: 0 2% ;
}

.promo-count{
    margin-bottom: 50px;
}

.total-count{
    color: #d70507;
    margin-bottom: 20px;
}

.order-button{
    width: 80%;
    height: 50px;
    background-color: #fed602;
    color: black;
    border: 3px solid black;
    border-radius: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    line-height:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin-bottom: 15px;
}

.popup-content {
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.popup-content h2{
    font-weight: bolder;
    font-size: xx-large;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    background-color: #ffffff;
    border: 1px solid #e2dfdf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.close { 
    width: 15%;
    height: 50px;
    background-color: #fed602;
    color: black;
    border: 3px solid #fed602;
    border-radius: 100px;
    text-align: center;
    font-size: x-large;
    font-weight:bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}