header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #88d4ff;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    border-radius: 10px;
    z-index: 1000;
    width: 100%;
    margin: auto;
}

body{
    margin:auto;
}

.logo-div{
    width: 15%;
    align-items: center;
    text-align: center;
}

.title-div{
    width: 60%
}

.icon-div{
    width: 25%;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 4vw;
    margin-bottom: auto;
    margin-top: 5px;
    margin-left: -20px;
    font-family:Arial, Helvetica, sans-serif;
}
.title-deco{
    text-decoration: none;
    color: black;
}

header div nav ul {
    list-style-type: none; /* Remove bullets */
    overflow: hidden; /* Clear floats */
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

nav ul li{
    float: left;
    width: 7rem;
}

nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 2px 0px; /* Padding for each menu item */
    margin: auto 5px;
    text-decoration: none;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    background-color: lightgray;
    border: 3px solid black;
    border-radius: 1rem;

}
ul li a:hover {
    background-color: darkgray;
}

.logo{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    max-width: 125px;
    max-height: 120px;
    padding-bottom: 10px;
    padding-top: 10px
}

.search-icon{
    max-width: 60px;
    padding-bottom: 5px;
}

.icon-div a img{
    font-size: 70px; /* Increase icon size */
    margin: 0 0.1vw; /* Add margin between icons */
    text-decoration: none;
    display: inline-flex; 
    width:75px;
}
.icon{
    max-width: 75px;
    font-size: 50px; /* Increase icon size */
}

header div img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cart{
    position: relative;
    display: inline-block;
}
.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fed602;
    color: #333;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    animation: bounce 0.5s; /* Apply the bounce animation */
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
@keyframes bounce {
    0%, 66.66%, 100% {
      transform: translateY(0);
    }
    33.33% {
      transform: translateY(-20px);
    }
    16.66%,50%,83.33% {
      transform: translateY(-10px);
    }
}

footer {
    background-color: #88d4ff;
    text-align: center;
    padding: 1px;
    padding-top: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    height: fit-content;
}

footer div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    vertical-align: top;
    width: auto; /* Adjust the width as needed */
    padding-right: 20px; /* Add some space between columns */
    margin: auto;
    text-align: center;
    max-width: max-content;
}

.footers{
    flex: 1;
    font-family: sans-serif;
}
.footer_head{
    font-weight: bold;   
    font-family: sans-serif;
}

.list li {
    list-style-type: none; /* Remove bullets */
    overflow: visible; /* Clear floats */
    text-align: left;
    justify-content: center;
    margin: 0;
}

.list li a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

.list li a:hover{
    color: grey;
    background-color: #88d4ff;
}

.footer_copyright {
    color: rgb(102, 99, 99);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .title{
        font-size: 6vw;
    }
    .title-div{
        width: 100%;
    }
    
    .logo-div{
        display: none;
    }
    .menu{
        display: none;
    }
    .icon-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20%;
        margin-right: auto;
    }
    .icon {
        margin-right: 10px; /* Add some spacing between icons */
    }
    .search-icon{
        max-width: 15vw;
        padding-right: 15px;
    }
}

@media screen and (max-width: 610px) {
    footer{
        width: 100%;
    }
    footer div {
        display: block;
        text-align:center;
        margin: auto;
    }
    .footers{
        width: 100%;
        margin-left: 0;
    }
    .list{
        text-align: center; /* Center list items */
        padding: 0;
    }
}


