section{
    padding-top: 0%;
}

.equipment-section {
    max-width: 75%;
    margin: 35px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.equipment-container{
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-color: #dddada;
    border-radius: 30px;
    border: 3px solid #dddada;
    margin: -3px;
}
  
.equipment-grid {
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    margin: 0 auto;
    display: flex;
    grid-gap: 20px;
    padding: 1%;
}
.equipment-grid a{
    text-decoration: none;
}

.equipment-card {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.equipment-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.equipment-section h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color:#48bdff;
    border-radius: 5px 0px 0px 5px;
    border: 5px solid #eaeaea;
    border-radius: 40px 40px 0px 0px;
    padding: 10px 20px;
    max-width: 50vw;
    margin: 0 auto;
    border-bottom: 0px;
}
  
.equipment-card img {
    border-radius: 50%;
    border: 3px solid black;
    width: 20vw;
    height: 20vw;
    object-fit:cover;
}
  
.equipment-card h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.75vw;
    color:#0399cd;
    padding: 0 15%;
}
  
.equipment-card p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    color:black;
    padding: 0 7.5%;
    font-weight: 500;
}

.see-more{
    display: block;
    max-width: max-content;
    margin: 10px auto 0px auto ;
    padding: 5px 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fed602;
    color: black;
    border: 3px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.see-more:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: burlywood;
}

.faq-question {
    background-color: #fff;
    border-bottom: 2.5px solid black;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
    transition: max-height 0.5s ease;
}

.plus-minus {
    font-weight: bold;
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    .equipment-section{
        width:90%;
        max-width: 90%;
    }
    .equipment-section h1 {
        font-size: 24px;
        max-width: 75%;
    }

    .equipment-container {
        max-width: 100%;
        padding: 5px;
    }

    .equipment-grid {
        grid-gap: 10px;
        padding: 5px;
    }

    .equipment-card {
        padding: 5px;
    }

    .equipment-card img {
        width: 30vw;
        height: 30vw;
    }

    .equipment-card h2 {
        font-size: 16px;
    }

    .equipment-card p {
        font-size: 14px;
    }

    .see-more {
        font-size: 14px;
        padding: 5px 10px;
    }

    .faq-question {
        font-size: 18px;
    }

    .faq-answer {
        font-size: 14px;
    }

    .plus-minus {
        font-size: 20px;
    }
    #remove{
        display: none;
    }
}